@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PTSansRegular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/PTSansBold.woff') format('woff');
}